.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  z-index: 30;
  pointer-events: none;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: var(--white);
  text-transform: uppercase;
}

.role {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #b61ca1, #1a46a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 800px) {

  /*   .nav {
    padding: 1rem;
  }
 */
  .name,
  .role {
    font-size: 0.875rem;
  }
}